/* Create a highlight keyframe */
@keyframes section-highlight {
    0% {
      background: #9b1228;
    }
    100% {
      background: none;
    }
  }
  
  ol {
    margin-bottom: 1rem;
  }
  
  #what {
    padding: 2rem;
  }
  
  #what:focus {
    outline: 0;
  }
  
  #what:target {
    animation: section-highlight 3s;
  }

  .description-header{
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
  }

  .header-text{
      font-size: 20px;
      padding-bottom: 10px;
  }

  .description ul {
    padding-top: 15px;
    margin: 0 auto;
    color: #d5d5d5;
    font-size: 16px;
    padding-bottom: 15px;
  }
  
  .description li {
    padding: 5px;
  }

  .description{
    font-family: 'Source Sans Pro';
  }

  .info-button{
    font-family: 'Source Sans Pro';
    width: 8em;
    height: auto;
  }

  .info-button:hover{
    background-color: #6685B2;
  }

  .info-header{
    font-family: 'Source Sans Pro';
    font-size: 20px;
  }